@model GULLEM_NEW_MVC.Entities.ClientInfo

<div class="Loan_container">
    <h1>@Model.FirstName's Loan</h1>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "Client")">Mainpage</a>
        <a class="btn btn-success" href="@Url.Action("AddLoan", "Loan", new { clientId = Model.Id })">Add Loan</a>
    </div>

    <div class="loan-details">
        @* Display the User's Loan details *@
    </div>
</div>
