@using GULLEM_NEW_MVC.Entities
@model List<GULLEM_NEW_MVC.Entities.ClientInfo>

<div class="Loan_container">
    <h1>Lists of Loan</h1>

    <a class="btn btn-success" href="client/AddLoan/">Add Loan</a>
</div>