@model GULLEM_NEW_MVC.Entities.ClientInfo

<div class="Loan_container">
    <h1>@Model.FirstName @Model.LastName's Loan</h1>

    <div>
        <!-- Add Loan Button -->
        <a class="btn btn-success" href="/client/AddLoan/@Model.Id">Add Loan</a>
    </div>

    <!-- Display loan details here -->
</div>
